/* * { */
/*     box-sizing: border-box; } */

/* body { */
/*     font: 10px sans-serif; */
/* } */
/* h1 { */
/*     font: 14px sans-serif; */
/*     fill: #a0a0a0; */
/* } */
/* a { */
/*     color: #1f77b4; */
/*     text-decoration: none; */
/* } */

.axis {
    font: 10px sans-serif;
    fill: #a0a0a0;
}
.axis path,
.axis line {
    fill: none;
    stroke: #a0a0a0;
    shape-rendering: crispEdges;
}

/* .x.axis path { */
/*     display: none; */
/* } */

.line {
    fill: none;
    stroke-width: 2px;
}
#tooltip {
    font: 11px sans-serif;
}
/* #container { */
/*     width: 1100px; */
/*     /\* width: auto; *\/ */
/*     margin-left:auto; */
/*     margin-right:auto; */
/* } */
/* #column { */
/*     width:200px; */
/*     height:1200px; */
/*     float: left; */
/* } */
#linegraph {
    /* width:900px; */
    width: auto;
    float: right;
}

.svg-linegraph {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}