#menu {
    margin-left: 1px;
}
.axis {
    font: 13px sans-serif;
    fill: #a0a0a0;
}
.axis path,
.axis line {
    fill: none;
    stroke: #a0a0a0;
    shape-rendering: crispEdges;
}
.line {
    fill: none;
    stroke-width: 3px;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 45px;
    height: 20px;
    padding: 3px;
    font: 13px sans-serif;
    color: black;
    background: lightsteelblue;
    border: solid 1px #ccc;
    border-radius: 8px;
    pointer-events: none;
}
#linegraph {
    width: auto;
    float: center;
}
.svg-linegraph {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 0%;
    padding-left: 0%;
    vertical-align: top;
    overflow: hidden;
}